<div>

	<div id = "dropzone">
		<h1>Drop Files Here</h1>
	</div>
	<br/>
	<div>
		<input type = "text" id = "txtLine" class = "form-control" placeholder = "Input the line">
		<button button ="type" ng-click = "assign_values()" class = "btn btn-default"> Enter </button>

		<select id = "chooser" class="selectpicker" data-live-search = "true">
			<option>
				MREG-Header
			</option>
			<option>
				MREG-Detail
			</option>
			<option data-divider = "true"></option>
			<option>
				CREG-Detail(1000)
			</option>
			<option>
				CREG-Detail(1001)
			</option>
		</select>
		<div class="input-group input-group-lg" style = "width:500px">
  			<input type = "text" id = "searchBar" class = "form-control" placeholder = "Search your heart. You know this to be true." ng-model = "search">
  			<span class="input-group-addon">?</span>
		</div>
	</div>

	<br/>

	<div>
		<table id = "datatable" class = "table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<td class = "info">#</td> 
					<td class = "info">Attribute</td>
					<td class = "info">Value</td>			
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "property in data | filter:search"> 
					<td>{{$index + 1}}</td>
					<td>{{property.attribute}}</td>
					<td>{{property.value}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



